
body 
{
    background-image: url('images/campus2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.block 
{
    align-content: center;
    box-sizing: fixed;
    text-align: center;
    margin-left: 37.5%;
    width : 25%;
    min-height: 150px;
    
}

#b1
{
    background-color: rgba(33, 18, 240, 0.959);
    background-image: url('images/tmp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}    
#b2
{
    background-color: rgb(245, 75, 208);
    background-image: url('images/spo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 100%;
}
#b3
{
    background-color: rgb(97, 212, 103);
    background-image: url('images/hr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 100%;
}
#b4
{
    background-color: rgb(250, 253, 40);+
   
}
#hd
{
    align-content: center;
    box-sizing: fixed;
    text-align: center;
    margin-left: 37.5%;
    width : 25%;
    background-color: aliceblue;
}


.data-info
{
    font-size: large;
    align-content: center;
    font-weight: bolder;
}

.reset-button
{
    align-content: center;
    margin-left: 37.5%;
    min-width: 25%;

}




